/**** efw3.X Copyright 2016 efwGrp ****/
#loading{
	z-index:100;
	background-image:url(../efw/images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
}

/**
data-format
<input id="txt_testnumber" type="text" data-format="#,##0.00">
<input id="txt_testdate" type="text" data-format="yyyy/MM/dd">
**/

.efw_input_error{
	background-color:pink!important;
}
.efw_input_focus{
	background-color:lightcyan!important;
}
.ui-dialog{
	position:fixed!important;
}

/**
To show alert dialog with out title bar for smart phone. 
**/
.efw-smartphone-dialog {
	padding: 0;
}
.efw-smartphone-dialog .ui-dialog-titlebar {
	padding: 0!important;
	padding-left:5px!important;
}
.efw-smartphone-dialog .ui-dialog-titlebar button {
	display: none;
}
.efw-smartphone-dialog .ui-dialog-titlebar {
  border: none;
  border-radius: 0;
  padding: 0;
}
.efw-smartphone-dialog .ui-dialog-buttonpane {
	border-width:0 0 0 0!important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#efw_client_wait div {
	margin-top:20px;
	color:red;
	font-size:xx-large;
	font-weight:bold;
}
