#loading{
	z-index:100;
	background-image:url(../efw/images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
}

/**
data-format
<input id="txt_testnumber" type="text" data-format="#,##0.00">
<input id="txt_testdate" type="text" data-format="yyyy年MM月dd日">
**/

.efw_input_error{
	background-color:pink;
}
.efw_input_focus{
	background-color:lightcyan;
}
